body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  width: 20%;
  background-color: gray;
  text-align: left;
  color: white;
}

.main {
  width: 80%;
  height: 900px;
  background-color: rgb(240, 240, 240);
}

.sidebarH1{
  margin-left: 30px;
}

.room-list{
  margin-left: 30px;
}

.room-data{
  margin-bottom: 20px;
}
